# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/backend/node_modules
/backend/dist
/backend/.env
/backend/.env.development
/backend/.env.production
# dependencies
/frontend/node_modules
/frontend/.env
/frontend/dist

/backend-nest/gcp-storage-key.json
